<% @verses.each do |verse| %>
	<% comments = Comment.find(:all, :conditions=>['user_id = ? and verse_id = ? and comment IS NOT NULL', current_user.id, verse.id]) rescue nil%>
	<%# comments = Comment.find(:all, :conditions=>['user_id = ? and verse_id = ? and comment != ?', current_user.id, verse.id, "NULL" ]) rescue nil%>
	<% comments.each do |comment| %>
		<div id="comment_<%=comment.id.to_s %>" class="notes">
			<span class="charge"><%= verse.chapter.to_s + ":" + verse.number.to_s rescue "" %></span> <%# comment.comment rescue ""%>
			<%= on_the_spot_in_tree_edit comment, :comment, :tooltip => "Click to edit note", :type => :textarea, :url => url_for({:controller => 'comments', :action => :update_attribute_on_the_spot_in_tree}) %>
			<%= link_to image_tag("/assets/x.png", :width=>"15", :title=>"delete note"), comment, confirm: 'Are you sure you want to delete this note?', method: :delete, :remote => true %>
		</div>
		
	<% end %>
<% end %>
