<h1>Listing New Issues</h1>

<div id="pagecontentwithlinks">
	<%= render :partial => "issue", :collection => @issues %>
</div>

<br />
<p><center><%= will_paginate @issues %></center></p>
<br /><br /><br />

<br />

<%= link_to 'New Issue', new_issue_path %>
