<br/>
<h1>About Gospelr</h1>
<br/>
<div id="pagecontentwithlinks">
	Welcome to Gospelr, the original social network site for Christians as covered on <%= link_to "TechCrunch", "http://techcrunch.com/2008/09/18/gospelr-twitter-for-christians/"%> in 2008!<br/><br/>
	<%= link_to image_tag("/assets/gospelr-screen.png", :width=>"300", :align=>"right"), "http://techcrunch.com/2008/09/18/gospelr-twitter-for-christians/"%> 
	Our goal was and still is to provide online bible study technology in the form of a Christian social network and ultimately help spread the word of God online.
	<br/><br/>
	Just like Twitter, you can follow people and be followed but instead of tweeting, you are highlighting and taking notes in your online bible and sharing the Word with the world. 
	This format works great for bible study groups and family members or just encouragement and enlightenment through out the day. 
	<br/><br/>
	We value your feedback and strive to make Gospelr the easiest way to read and share the gospel online.  And remember, when two or more are gather in My name I am there... 
</div>