<br/>
<h1>About Gospelr</h1>
<br/>
<div id="pagecontent">
	Welcome to Gospelr! Our goal is to provide online bible study technology in the form of a Christian social network and ultimately help spread the word of God online.
	
</div>