<br/>
<p id="notice"><%= alert %></p>
<br/><br/>
<center><img src="/assets/maywehelp.png" width="300"></center>

<center>
<%= form_for :search, :url=>"/search", :html => {:class => 'search', :id => 'search'}, :method => "get" do |f| %>
	
	<% 
	if session[:searchterm].nil? 
		session[:searchterm] = "Windows"
	end
	%>
	<%= f.text_field "searchtext", :value => session[:searchterm], :class => "home-top-search-box", :autofocus => true %><%# f.hidden_field :bible_id, :value => bible.id %>
	<%#text_field_with_auto_complete :text, :verse, :autocomplete => "off" %>
	<%# submit_tag "Search"%>
	<input type="submit" value="Search" name="commit" id="search-button" class="home-search-button"><br/>
<% end %>

<div class="search-text"><span style="color:#000;font-size:18px">Search keywords (<a href="/search/windows">Windows</a>, <a href="/search/microsoft office">Microsoft Office</a>)
	| <%= link_to 'All Issues', "/issues" %> </span>
</div>

</center>
