<h2>Hello Twelephone</h2>
Meet the world's first social telephone. Twelephone is integrated with your Twitter account 
	and allows you to start group conference calls or party lines to speak to your friends for free!
<br/><br/>
Turn up your speakers, sign-in with your Twitter account, and start a twelephone call.
<!-- <p>You can also place calls to any North American phone numbers for free too!</p> -->
<br/><br/>
<% if !@current_user %>
<p align="center">
	<a href="/auth/twitter"><%= image_tag "twitter_login.png", :width => "300" %></a>
</p>
<% end %>
